<ng-template #recursiveComment let-comments>
  <p-accordion>
    <p-accordionTab
      *ngFor="let child of comments; trackBy: trackByComment"
      [header]="child.by"
    >
      <p [innerHTML]="child.text"></p>
      <p>{{ item.time | date }}</p>
      <ng-container *ngIf="child.comments && child.comments.length">
        <ng-container
          *ngTemplateOutlet="
            recursiveComment;
            context: { $implicit: child.comments }
          "
        ></ng-container>
      </ng-container>
    </p-accordionTab>
  </p-accordion>
</ng-template>

<p-card [header]="item.title" [subheader]="item.by" class="card">
  <ng-template pTemplate="header"> </ng-template>
  <a href="{{ item.url }}" target="_blank">Original article</a>
  <p>{{ item.time | date }}</p>

  <ng-template pTemplate="footer">
    <ng-container
      *ngTemplateOutlet="
        recursiveComment;
        context: { $implicit: item.comments }
      "
    ></ng-container>
  </ng-template>
</p-card>
