<div class="wrapper">
  <header>
    <p-toolbar>
      <div class="p-toolbar-group-left"></div>
      <span> Test task for Civitta </span>
      <div class="p-toolbar-group-right"></div>
    </p-toolbar>
  </header>
  <main class="page">
    <div class="page__container">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer class="footer">
    <p-toolbar>
      <div class="p-toolbar-group-left"></div>
      <span> By Mykhailo Khrystenko </span>
      <div class="p-toolbar-group-right"></div>
    </p-toolbar>
  </footer>
</div>
